<div class="ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12">
            <div>
                <h1>{{ readonly ? 'Visualizar' : tituloEdit }} Usuário</h1>
                <div class="ui-g">
                    <div class="ui-g-12">
                    </div>
                    <div class="ui-lg-12 ui-g-12"
                        style="padding: 0">
                        <form [formGroup]="form"
                            (submit)="salvar()"
                            class="ui-g-12"
                            novalidate>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <label>Nome:</label>
                                </div>
                                <div class="ui-g-6">
                                    <input *ngIf="!readonly"
                                        type="text"
                                        formControlName="nome"
                                        pInputText />
                                    <span *ngIf="readonly">{{ form.controls.nome.value }}</span>
                                    <small class="text-danger">{{ getErrors('nome') }}</small>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <label>Endereço:</label>
                                </div>
                                <div class="ui-g-6">
                                    <input *ngIf="!readonly"
                                        type="text"
                                        formControlName="endereco"
                                        size="2"
                                        pInputText />
                                    <span *ngIf="readonly">{{ form.controls.nome.value }}</span>
                                    <small class="text-danger">{{ getErrors('nome') }}</small>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <label>Telefone:</label>
                                </div>
                                <div class="ui-g-6">
                                    <input *ngIf="!readonly"
                                        type="number"
                                        formControlName="telefone"
                                        size="2"
                                        pInputText />
                                    <span *ngIf="readonly">{{ form.controls.nome.value }}</span>
                                    <small class="text-danger">{{ getErrors('nome') }}</small>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <label>CPF:</label>
                                </div>
                                <div class="ui-g-6">
                                    <input *ngIf="!readonly"
                                    type="text"
                                    formControlName="cpf"
                                    size="2"
                                    pInputText />
                                    <span *ngIf="readonly">{{ form.controls.nome.value }}</span>
                                    <small class="text-danger">{{ getErrors('nome') }}</small>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <label>Login:</label>
                                </div>
                                <div class="ui-g-6">
                                    <input *ngIf="!readonly"
                                        type="text"
                                        formControlName="login"
                                        size="2"
                                        pInputText />
                                    <span *ngIf="readonly">{{ form.controls.nome.value }}</span>
                                    <small class="text-danger">{{ getErrors('nome') }}</small>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <label>Senha:</label>
                                </div>
                                <div class="ui-g-6">
                                    <input *ngIf="!readonly"
                                        type="text"
                                        formControlName="senha"
                                        size="2"
                                        pInputText />
                                    <span *ngIf="readonly">{{ form.controls.nome.value }}</span>
                                    <small class="text-danger">{{ getErrors('nome') }}</small>
                                </div>
                            </div>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <label>Função:</label>
                                </div>
                                <div class="ui-g-6">
                                    <p-dropdown 
                                        [options]="funcoes" 
                                        formControlName="cargo"
                                        [virtualScroll]="false"
                                        [autoDisplayFirst]="false">
                                    </p-dropdown>
                                    <span *ngIf="readonly">{{ form.controls.nome.value }}</span>
                                    <small class="text-danger">{{ getErrors('nome') }}</small>
                                </div>
                            </div>
                            <div class="ui-g-12">
                                <div class="ui-g-2 ui-md-2">
                                    <button pButton
                                        type="button"
                                        label="Voltar"
                                        class="ui-button-secondary"
                                        routerLink="/usuarios"
                                        icon="fa fa-reply"></button>
                                </div>
                                <div class="ui-g-8 ui-md-8"></div>
                                    <div class="ui-g-2 ui-md-2" style="text-align: right;">
                                    <button *ngIf="!readonly"
                                        pButton
                                        type="submit"
                                        label="Salvar"
                                        icon="fa fa-save"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>