<form #filterForm
    [formGroup]="form"
    (submit)="filtrar()"
    novalidate>
    <h1>Pedido</h1>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3"
            style="padding: 0">
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3"
            style="padding: 0">
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-2">
            <button 
                pButton
                type="button"
                label="Adicionar"
                class="ui-button-info"
                icon="fa fa-plus"
                routerLink="/pedidos/edit"></button>
        </div>
        <div class="ui-g-12 ui-md-6">
            <button *ngIf="authService.currentUserValue?.cargo === 'DIRETOR_PRODUCAO'"
                pButton
                type="button"
                label="Acompanhar Pedidos"
                class="ui-button-info"
                icon="fa fa-vcard"
                routerLink="/pedidos/acompanhamentopedidos"></button>
        </div>
    </div>
</form>