button.right-position{
    width: 140px;
    margin-left: 110px;
}

span.red-color{
    color: red;
}

div.right {
    text-align: right;
}

p-calendar.width{
    width: 100px
}

button.margin-bottom{
    margin-bottom: 3px;
}

textarea.size{
    height: 130px;
    width: 260px;
}