<form #filterForm
    [formGroup]="form"
    (submit)="filtrar()"
    novalidate>
    <h1>UF</h1>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3"
            style="padding: 0">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <label>Nome</label>
                </div>
                <div class="ui-g-12">
                    <input type="text"
                        formControlName="nome"
                        pInputText />
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3"
            style="padding: 0">
            <div class="ui-g-12">
                <div class="ui-g-12">
                    <label>Sigla</label>
                </div>
                <div class="ui-g-12">
                    <input type="text"
                        formControlName="sigla"
                        pInputText />
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3"
            style="padding: 0">
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3"
            style="padding: 0">
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-12 ui-md-2">
            <button pButton
                type="submit"
                label="Pesquisar"
                class="success-btn"
                icon="fa fa-search"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button pButton
                type="button"
                label="Limpar"
                class="secondary-btn"
                (click)="limpar()"
                icon="fa fa-undo"></button>
        </div>
        <div class="ui-g-12 ui-md-2">
            <button *ngIf="this.auth.usuario.perfil === 'Administrador'" 
                pButton
                type="button"
                label="Adicionar"
                class="ui-button-info"
                icon="fa fa-plus"
                routerLink="/uf/edit"></button>
        </div>
    </div>
</form>